.text-white {
    color: #ffffff;
}
.text-black {
    color: #000000;
}
.text-gray {
    color: rgb(122, 122, 122);
}
.bg-black {
    background-color: #000000;
}
.bg-gray {
    background-color: rgb(216, 216, 216);
}
.bg-white {
    background-color: rgba(255, 255, 255, .7);
}
.icon-black {
    color: black;
}