.text-white {
    color: #ffffff;
}
.text-black {
    color: #000000;
}
.text-gray {
    color: rgb(51, 51, 51);
}
.bg-black {
    background-color: #000000;
}
.bg-gray {
    background-color: rgb(51, 51, 51);
}
.bg-white {
    background-color: rgba(255, 255, 255, .7);
}