body {
    margin: 0;
}
.bg-image {
    background-image: url(../img/1625792678_6-kartinkin-com-p-fotoapparat-oboi-krasivie-6.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image2 {
    background-image: url(../img/sunset-5344024_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image3 {
    background-image: url(../img/sunset-5344024_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.bg-image4 {
    background-image: url(../img/sunset-2794833_960_720.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.w-100 {
    max-width: 100%;
}
a {
    text-decoration: none;
}
.border-bottom {
    border-bottom: 2px solid black;
}
.d-inline {
    display: inline;
}
.d-block {
    display: block;
}
.justify-content {
    display: flex;
    justify-content: space-around;
}
.space-around {
    display: flex;
    justify-content: space-around;
}
.border {
    border: 1px solid white;
}
.border-bottom {
    border-bottom: 2px solid black;
}
.list-style {
    list-style: none;
}
.width-500 {
    max-width: 500px;
}